{% extends 'school/base.html' %}
{% block title %}Контакты{% endblock %}

{% block content %}

<div class="container px-4 py-5" id="icon-grid">
    {% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    <button type="button" class="btn" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
</div>
{% endfor %}
    <h2 class="pb-2 border-bottom animate__animated animate__bounceIn wow">Контакты</h2>
        <div class="container px-4 py-5"> 
            <div class="row mb-2">
                <div class="col-md-6">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary">Местоположение</strong>
                             <h3 class="mb-0">Главный офис</h3>
                            <div class="mb-1 text-muted">9:00 - 19:00</div>
                                <p class="card-text mb-auto">Волховский переулок, 11с1, Москва, 105005</p>
                                <a href="https://yandex.ru/maps/-/CCUfBXDBcB">Посмотреть на карте</a>
                            </div>
                            <div class="col-auto d-none d-lg-block">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1602.3755882928176!2d37.68486166370653!3d55.77273692598661!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b5357d038930af%3A0x5b8a45805eff4edf!2z0JzQvtGB0LrQvtCy0YHQutC40Lkg0YLQtdGF0L3QuNC60YPQvCDQutC-0YHQvNC40YfQtdGB0LrQvtCz0L4g0L_RgNC40LHQvtGA0L7RgdGC0YDQvtC10L3QuNGP!5e0!3m2!1sru!2sru!4v1667372375970!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static" >
                                <strong class="d-inline-block mb-2 text-success">Контакты для связи</strong>
                                <h3 class="mb-0">Звонки принимаются</h3>
                                <div class="mb-1 text-muted">9:00 - 19:00</div>
                                <h3 class="mb-0">Номер телефона</h3>
                                <div class="mb-1 text-muted"  >+7 (123) 456-78-90</div>
                                <h3 class="mb-0">Наши автошколы:</h3>
                                <p class="card-text mb-auto"> • Большая Тульская ул., 2, 8 офис; 2 этаж, Москва, 115191</p>
                                <div class="mb-1 text-muted">8 (495) 114-55-88</div>
                                <p class="card-text mb-auto"> • улица Казакова д6 стр1, Москва, 105064</p>
                                <div class="mb-1 text-muted">8 (495) 664-45-15</div>
                                <p class="card-text mb-auto"> • Петровка ул., 15с1, Москва, 107031</p>
                                <div class="mb-1 text-muted">8 (499) 955-43-55</div>
                                <h3 class="mb-0">Почта</h3>
                                <div class="mb-1 text-muted">autoschool228@rambler.ru</div>
                                <h3 class="mb-0">Телеграм</h3>
                                <div class="mb-1 text-muted">@autoschool228</div>
                                <!-- <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p> -->
                            </div>
                        </div>
                    </div>
                        <div class="col-md-6">
                            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                <div class="col p-4 d-flex flex-column position-static" >
                                    <form method="post">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <strong class="d-inline-block mb-2 text-warning">Записаться в автошколу</strong>

                                            <div class="col">
                                              <label for="inputName">Имя</label>
                                              {{ form.first_name }}
                                            </div>
                                            <div class="col">
                                              <label for="inputName">Фамилия</label>
                                              {{ form.last_name }}
                                            </div>
                                          </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputEmail4">Email</label>
                                            {{ form.mail }}
                                        </div>
                                        <div class="form-group">
                                        <label for="inputAddress">Адрес</label>
                                        {{ form.address }}
                                        </div>
                                        <div class="form-group">
                                        <label for="inputAddress2">Адрес автошколы</label>
                                        {{ form.address_autoschool }}
                                        </div>
                                        <div class="form-group col-md-4">
                                        <label for="inputCategory">Категория</label>
                                            {{ form.category }}
                                        </div>
                                        <div class="form-group col-md-4">
                                        <label for="inputGroup">Группа</label>
                                            {{ form.group }}
                                        </div>
                                       
                                       <br>
                                        <button type="submit" class="btn btn-success">Записаться</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>       
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <script>
    function bootstrapAlert() {
        $(".bootstrap-growl").remove();
        $.bootstrapGrowl("Your ticket success!", {
            type: "success", 
            offset: {from:"top",amount:60}, 
            delay: 3000, 
            allow_dismiss: false, 
            stackup_spacing: 10
        });
                
        
    }
</script> -->


{% endblock %}