html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}

body {
    background-color: whitesmoke;
}

.logo{
    font-size: 24px;
}

li {
	list-style-type: none;
}

.zoom {

	transition: transform .2s; /* Animation */

  }
  
.zoom:hover {
	transform: scale(1.01); 
  }

.none {
	width: 300px;
    border-radius: 4px;
    padding: 5px;
}

.maket {
	display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 300px);
	border-radius: 5px;
	grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.theme-button
{
    position: absolute;
    right: 5px;
    top: 5px;
    display: inline-block;
    padding: 10px 25px;
    cursor: pointer;
}

.content{
    margin: 0 auto;
    max-width: 1440px!important;
    text-align: center;
    padding: 2rem;
    width: 100%!important;
    z-index: 1;
}

.containerr{
    margin-top: 40%;
    color: #fff;
    position: relative;
    max-width: 1440px;
}



.maintext{
    font-size: 42px;
}